p {
    font-family: Rajdhani
}

h1 {
    font-family: Poiret One
}

#center {
    text-align: center
}

img {
    width:250px;
}

#centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
}

#lightgreen {
    
}